.custom-headline {
    margin-top: 20px;
    margin-bottom: 20px;
}

.accordionIcon{
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 100px;
}

.accordionContent{
    display: none;
    border: none;
    background-color: #f5f5f5;
}

.row{
    margin-top: 20px;
}

.settingsLeft{
    margin-left: 15px;
    width: 50%;
}

.settingsRight{
    width: 25%;
}